name: build

permissions:
  id-token: write

on: [workflow_dispatch, push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.23', '1.24', '1.25']
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
    - run: go test -coverprofile=coverage.out
    - uses: codecov/codecov-action@v5
      with:
        use_oidc: true
